<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <header>
    <% include partials/header %>
  </header>
  <body>
    <div class="viewArea">
      <table class="table table-striped table-hover table-sm">
        <tr>
          <th>Days which having logging</th>
        </tr>

        <% logList.forEach(function(data) { %>
          <tr>
            <td><a href="/logs/<%= data.day %>"><%= data.day %></a></td>
          </tr>
          <% }); %>
        </table>
        <% include partials/scripts %>
    </div>
  </body>
</html>
