<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
    <link rel="stylesheet" href="../css/schedule.css">
    <script>
      var input_data = <%-JSON.stringify(schedule)%>
    </script>
  </head>
  <header>
    <% include partials/header %>
  </header>
  <body>
    <div class="viewArea">
      <!-- <div id="saveSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
        This is a success alert—check it out!
      </div> -->
      <div class="legendDiv">
        <table align="center" class="table table-sm legend">
          <tr>
            <td data-state='ON'>TV Always On</td>
            <td data-state='MOTION'>Motion Activated</td>
            <td data-state='OFF'>TV Always Off</td>
          </tr>
        </table>
      </div>
      <div class="am_schedule"></div>
      <div class="pm_schedule"></div>
      <div>
        <button id="saveButton" onclick="saveChanges()">Submit</button>
      </div>
    </div>
    <% include partials/scripts %>
    <script src="../js/schedule.js"></script>
  </body>
</html>
