<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <header>
    <% include partials/header %>
  </header>
  <body>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> On
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off"> Off
      </label>
    </div>
      <% include partials/scripts %>
  </body>
</html>
