<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <header>
    <% include partials/header %>
  </header>
  <body>
    <div class="viewArea">
      <button type="button" onclick="displayPicturePrevious()" class="btn btn-outline-success">View Previous Picture</button>
      <button type="button" onclick="displayPictureNext()" class="btn btn-outline-success">View Next Picture</button>
      <% include partials/scripts %>
      <script src="../js/tvcontrol.js"></script>
    </div>
  </body>
</html>
